.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.text {
  color: blue;

  font-weight: bold;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 50px;
  text-align: center;
}
